.car-brand{
    width: 50px;
    position: relative;
    left: 700px;
}

.nav-item {
    margin-left: 30px;
}

.title-h2 {
    position: relative;
    right: 800px;
    bottom: 150px;
    font-size: 4rem;
}

.title-h5 {
    position: relative;
    left: 150px;
    top: 100px;
    color: red;
}

.seltos_car {
    width: 130%;
    position: relative;
    left: 200px;
}

/* Pricing */

#pricing {
    padding-top: 50px;
}

.pricing-h2 {
    font-size: 3rem;
    position: relative;
    left: 550px;
}

.pricing-p {
    font-size: 1.75rem;
    position: relative;
    left: 600px;
    color: grey
}

.card-header{
    background-color: black;
}

.card-title {
    color: white;
}

span {
    color: grey;
}

.card-deck {
    padding-top: 50px;
}

/* Compare */
#compare {
    padding: 100px;
}

.compare-h3 {
    font-size: 1.5rem;
}

.compare-h4 {
    font-size: 0.75rem;
    color: gray;
}

#text {
    position: relative;
    left: 100px;
}

.image-resize {
    width: 80%;
    position: relative;
    top: 40px;
    left: 80px;
}

.compare-h3-title {
    position: relative;
    bottom: 20px;
}

.compare-h5-title {
    position: relative;
    bottom: 50px;
}

/////////////////////////////////////////////////////


body{

    margin: o px;
    padding:0 px;
    font-family: myriad pro;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navigation
{
    margin: 40px 30px;
}

.menu{
    height: 13px;
    margin: 0px 20px;
}

.left{
    display: flex;
    float:left;
    align-items: center;
}

.left select{
    margin: 0px;
    outline: none;
    padding: 13px 8px;
    background-color: #rgba(235,235,235,0.6);
    font-size:11px;
    font-weight:700;
    border:none;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 50px;
}

.content-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 90px;
}

#image-resize{
    height: 440px;
    width:4000px;
    display: flex;
    align-items: center;
    position: relative;
    left:230px;
}

.img-container img{

    max-width: 100%;
    max-height: 100%;
}

.text-container{

    /* display: flex;*/
    /* margin-right: auto; */
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/

    position: relative;
    right: 250px;
}

h1{
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    color: #262626;
}

p{
    color:#a8a1a1;
    width: 400px;
}

.price{
    color:#000000;
    font-size: 40px;
    text-shadow: 2px 2px 12px rgba(128,128,128,0.3);
    font-family: babas kai;
}


.cir1{

    background-color:blue;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 500px;
    position: relative;
    left: 75px;
}

.cir2{

    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 500px;
    position: relative;
    left: 75px;
}

.cir3{

    background-color:orange;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 500px;
    position: relative;
    left: 75px;
}

.color-container{

    display: flex;


}

.paint-text{

    position: relative;
    right: 60px;
    margin-top: 350px;

}
